<!--Survrun target location panel-->
<div class="card card-primary">
    <div class="card-header">Target location picker</div>
    <div class="card-body">

        <!--Button for get request-->
        <button (click)="fetchSurvrunData()" type="button" class="btn btn-dark btn-sm">Get target locations</button>

        <!--List elements containing json results-->
        <ul class="list-unstyled padding-default" *ngIf="show_targets">
            <!-- <pre >Data: {{ survrunData | json }}</pre> -->
            <!-- display full json structure like this-->
            <li class="font-weight-normal" *ngIf="survrunJson.survrunData[0].target_location_one as value">Target A:
                {{ value }}</li>
            <li class="font-weight-normal" *ngIf="survrunJson.survrunData[0].target_location_two as value">Target B:
                {{ value }}</li>
            <li class="font-weight-normal" *ngIf="survrunJson.survrunData[0].timebox as value">Timebox: {{ value }}
                minutes</li>
            <li class="font-weight-normal" *ngIf="survrunJson.survrunData[0].rating as value">Expected difficulty:
                {{ value }}</li>
        </ul>

    </div>
</div>

<!--Space bar between cards-->
<div class="blank-space-default"></div>

<!--Survrun class picker card-->
<div class="card card-primary">
    <div class="card-header">Class picker</div>
    <div class="card-body">

        <!--get class button-->
        <button (click)="fetchSurvrimClass()" type="button" class="btn btn-dark btn-sm">Get your class</button>

        <!--display response data-->
        <ul class="list-unstyled padding-default" *ngIf="show_class">
            <li *ngIf="survrimClassData.survrimData[0].class_info[0].player_class as value">Class: {{ value }}</li>
            <li *ngIf="survrimClassData.survrimData[0].class_info[0].player_class_skills as value">Skills: {{ value }}
            </li>
        </ul>
    </div>
</div>

<!--Space bar between cards-->
<div class="blank-space-default"></div>

<div class="card card-primary">
    <div class="card-header">Show recorded Survruns:</div>
    <div class="card-body">

        <!--query flask backend button-->
        <button (click)="querySurvrunTableGetAllRuns()" type="button" class="btn btn-dark btn-sm">Query Postgre</button>

        <!--display query results in table-->
        <table class="table table-hover" *ngIf="show_queryResultSurvrunData">
            <thead>
                <th scope="col">id</th>
                <th scope="col">completed</th>
                <th scope="col">class</th>
                <th scope="col">Target A</th>
                <th scope="col">Target B</th>
                <th scope="col">Timebox</th>
                <th scope="col">Time needed</th>
                <th scope="col">R count</th>
            </thead>
            <tbody>
                <tr *ngFor="let row of queryResultSurvrunData.queryResult">
                    <td>{{ row.id }}</td>
                    <td>{{ row.completed }}</td>
                    <td>{{ row.player_class }}</td>
                    <td>{{ row.target_a }}</td>
                    <td>{{ row.target_b }}</td>
                    <td>{{ row.timebox }}</td>
                    <td>{{ row.time_needed }}</td>
                    <td>{{ row.r_count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
