<div class="container">

  <!--Header with title-->
  <div class="jumbotron">
    <h1>Welcome to {{ title }}</h1>
  </div>

  <!--Navigation bar with different tabs-->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/survrim">SurvivalRim</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/stronghold">Stronghold</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Poke Nuzlocke</a>
    </li>
  </ul>
  <router-outlet></router-outlet>

</div>
