/* build-ins */

h1 {
    text-align: center;
}

/* classes */

.backgroundDarkmode {
    background-color: #282828;
}

.backgroundBrightmode {
    background-color: white;
}

.blank-space-default {
    padding: 20px;
}

.padding-default {
    padding: 10px
}
