<!--ShC AI battle generator panel-->
<div class="card card-primary">
  <div class="card-header">Stronghold AI battle generator</div>
  <div class="card-body">

    <!--Player count selection input group-->
    <p class="font-weight-normal">Select the number of AIs in this battle:</p>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-dark" (click)="fetchShcBattleDataWithPlayerCount(2)">2</button>
        <button type="button" class="btn btn-dark" (click)="fetchShcBattleDataWithPlayerCount(3)">3</button>
        <button type="button" class="btn btn-dark" (click)="fetchShcBattleDataWithPlayerCount(4)">4</button>
        <button type="button" class="btn btn-dark" (click)="fetchShcBattleDataWithPlayerCount(5)">5</button>
        <button type="button" class="btn btn-dark" (click)="fetchShcBattleDataWithPlayerCount(6)">6</button>
        <button type="button" class="btn btn-dark" (click)="fetchShcBattleDataWithPlayerCount(7)">7</button>
        <button type="button" class="btn btn-dark" (click)="fetchShcBattleDataWithPlayerCount(8)">8</button>
      </div>
    </div>

    <!--Paragraph displaying the result string-->
    <p class="font-weight-normal padding-default" *ngIf="show_ai_battle">{{ shcJson.shcData[0].ai_battle }}</p>

  </div>
</div>

<!--Space bar between cards-->
<div class="blank-space-default"></div>

<!--ShC ranking system card-->
<div class="card card-primary">
  <div class="card-header">Ranking</div>
  <div class="card-body">

    <!--Winning team selection-->
    <form *ngIf="show_ai_battle" [formGroup]="formSubmitWinningTeam" (ngSubmit)="onSubmitWinningTeam()">
      <div class="form-row">
        <div class="form-group col-md-2">
          <p>Select winning Team</p>
        </div>
        <div class="form-group col-md-2">
          <p>MVP</p>
        </div>
        <div class="form-group col-md-2">
          <p>Exception</p>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-2">
          <select class="form-control" formControlName="formWinningTeamSelection">
            <option *ngFor="let ai_name of shcJson.shcData[0].teams">
              {{ ai_name }}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" formControlName="formMVPSelection">
            <option *ngFor="let ai_name of involvedPlayers">
              {{ ai_name }}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" formControlName="formExceptionSelection">
            <option *ngFor="let ai_name of involvedPlayers">
              {{ ai_name }}</option>
          </select>
        </div>
      </div>

      
      <button type="submit" class="btn btn-dark btn-sm">Submit</button>
    </form>

    <!--Ranking table-->
    <table *ngIf="rankingDataFetched" class="table table-hover">
      <thead>
        <th scope="col">Name</th>
        <th scope="col">Played games</th>
        <th scope="col">Score</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of shcRankingJson.queryResult">
          <td>{{ row.ai_name }}</td>
          <td>{{ row.played_games }}</td>
          <td>{{ row.rating }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<!--Space bar between cards-->
<div class="blank-space-default"></div>